.ow_page_wrap{background-image:url(http://www.biyebiye.com/ow_userfiles/themes/theme_image_10.jpg)}
.ow_page_wrap_inner{background-image:url(http://www.biyebiye.com/ow_userfiles/themes/theme_image_13.jpg)}
a, .ow_content a{color:#566e9a}
.sitelogo{background:url(http://www.biyebiye.com/ow_userfiles/themes/theme_image_1.png)}
.ow_logo {
    background-image: url(https://www.biyebiye.com/ow_userfiles/themes/theme_image_1.png);
}

.base_index_page .ow_logo {
    background-image: url(https://www.biyebiye.com/ow_userfiles/themes/theme_image_16.jpg);
}

.sitelogo {
    width: 444px;
    height: 150px;
    background-size: 380px !important;
    background-image: url(https://www.biyebiye.com/ow_userfiles/themes/theme_image_14.png);
    background-repeat: no-repeat;
    margin-left: 7px;
}

.ow_page_padding {
    padding-bottom: 99px;
 background-image: none;
}

.base_index_page .ow_header {
    height: 578px;
    background-image: none;
width: 1200px;
}

.ow_page_wrap {
    background-image: url(https://www.biyebiye.com/ow_userfiles/themes/theme_image_19.jpg);
background-size: 900px;
}

.ow_header {
    height: 378px;
    background-image: url(https://www.biyebiye.com/ow_userfiles/themes/theme_image_19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
padding: 0px;
}

.ow_page_wrap_inner {
    background-image: none;
}

.ow_header_general {
    height: 341px!;
}

body {
    background-repeat: repeat;
    background-color: #fff;
}

input[type=submit], input[type=button] {

    color: #dd46a3;
}

.ow_box {
    background-color: rgba(221, 70, 163, 0.1);
border-color: #F6B9DF;

}

h1, h2, h3, h4, h5 {
    color: #dc46a3;
}

.ow_menu_wrap {
    background: #5b6f9cc9;
}

.ow_main_menu li a {
    color: #fff;
    text-shadow: none;

}

.ow_main_menu li.active a, .ow_main_menu li a:hover {
    color: ##b70e76;
    text-shadow: none;
}

.ow_footer_menu a {
    color: #596e9b!important;
}


.base_index_page .ow_page_container .ow_page {
    padding: 0px 16px 16px;
}

.ow_page_container {
    width: 1200px;
}

.ow_canvas {
    width: 1200px;
}

.ow_join_button {
padding-left: 20px;
}

.ow_ads_label {

    display: none;
}

.goog-te-gadget {
    margin-top: 10px;
    margin-left: 44px;
}


.countdownTimer .bannerOuterWrapper .banner .bannerTextWrapper .bannerTextInnerWrapper .bannerText .title {
    font-weight: bold!important;
}