.base_index_page{background-image:url(http://www.biyebiye.com/ow_userfiles/themes/theme_image_8.jpg)}
.ow_logo {
    height: 248px;
    width: 552px;
    background-image: url(http://www.biyebiye.com/ow_userfiles/themes/theme_image_1.png);
}

.base_index_page .ow_header {
    margin-top: 0;
}
.base_index_page .ow_logo {
    height: 162px;
    background-image: url(http://www.biyebiye.com/ow_userfiles/themes/theme_image_1.png);
}

.base_index_page {
    background-image: url(http://www.biyebiye.com/ow_userfiles/themes/theme_image_8.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}