<div class="ow_wide ow_automargin">
    <table class="ow_form ow_table_1 theme_controls">

        <tr class="ow_tr_first">
            <th colspan="10" style="text-align: left;">{text key='skcv+admin_info_cap'}</th>
        </tr>

        <tr class="{cycle values='ow_alt1,ow_alt2'} ow_tr_last">
            <td colspan="2">
                {text key='skcv+admin_bottom_text'}
            </td>
        </tr>

        <tr class="{cycle values='ow_alt1,ow_alt2'} ow_tr_last">
            <td>
                {text key='skcv+admin_edit_lang'}
            </td>
            <td>
                <a href="javascript://" class="lang_label">{$langLabel}</a>
            </td>
        </tr>
        <tr class="ow_tr_delimiter"><td></td></tr>
    </table>
</div>