{form name='settings-form'}

<img src="{$logoUrl}" />

<div class="ow_superwide">
<table class="ow_table_3">
    <tr class="ow_tr_first">
        <td class="ow_label" style="width: 30%">{text key='billingstripe+recurring_supported'}</td>
        <td class="ow_value">{if $gateway->recurring}{text key='billingstripe+available'}{/if}</td>
    </tr>
    
    <tr class="ow_tr_last">
        <td class="ow_label">{text key='billingstripe+supported_currencies'}</td>
        <td class="ow_value">{$gateway->getCurrenciesString()}</td>
    </tr>
</table>
</div>

{if !$currSupported}
    <div class="ow_anno ow_std_margin ow_nocontent">{text key="base+billing_currency_not_supported" currency=$activeCurrency}</div>
{/if}

<table class="ow_table_1 ow_form">
    <tr>
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_gear_wheel">{text key='billingstripe+account_settings'}</span>
        </th>
    </tr>
    <tr class="{cycle values='ow_alt1, ow_alt2'}">
        <td class="ow_label">{label name='testSK'}</td>
        <td class="ow_value">
            {input name='testSK'} {error name='testSK'}
        </td>
        <td class="ow_desc ow_small"></td>
    </tr>
    <tr class="{cycle values='ow_alt1, ow_alt2'}">
        <td class="ow_label">{label name='testPK'}</td>
        <td class="ow_value">
            {input name='testPK'} {error name='testPK'}
        </td>
        <td class="ow_desc ow_small"></td>
    </tr>
    <tr class="{cycle values='ow_alt1, ow_alt2'}">
        <td class="ow_label">{label name='liveSK'}</td>
        <td class="ow_value">
            {input name='liveSK'} {error name='liveSK'}
        </td>
        <td class="ow_desc ow_small"></td>
    </tr>
    <tr class="{cycle values='ow_alt1, ow_alt2'}">
        <td class="ow_label">{label name='livePK'}</td>
        <td class="ow_value">
            {input name='livePK'} {error name='livePK'}
        </td>
        <td class="ow_desc ow_small"></td>
    </tr>
    <tr class="{cycle values='ow_alt1, ow_alt2'}">
        <td class="ow_label">{label name='sandboxMode'}</td>
        <td class="ow_value">
            {input name='sandboxMode'} {error name='sandboxMode'}
        </td>
        <td class="ow_desc ow_small"></td>
    </tr>
    <tr class="{cycle values='ow_alt1, ow_alt2'}">
        <td class="ow_label">{label name='requireData'}</td>
        <td class="ow_value">
            {input name='requireData'} {error name='requireData'}
        </td>
        <td class="ow_desc ow_small"></td>
    </tr>
</table>
<div class="clearfix ow_submit ow_stdmargin">
	<div class="ow_right">{submit name='save' class='ow_ic_save'}</div>
</div>
{/form}