<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr style="height:72px;">
        <td>
            <a href="https://www.biyebiye.com/" target="_blank">
                <div style="color:transparent;width:200px;height:71px;background-size:contain;background-image:url({$logoImage});">
                    <!--[if gte mso]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:200;height:71px;">
                        <v:fill type="frame" src="{$logoImage}" color="#ffffff" />
                    </v:rect>
                    <![endif]-->
                </div>
            </a>
        </td>
    </tr>
    </tbody>
</table>

{if $empty == false}
    <table border="0" cellpadding="0" cellspacing="2"  style="width:600px;min-width:600px;table-layout:fixed;">
        <tbody>
        <tr>
            <td style="color:transparent;overflow:hidden;width:118px;height:118px;background-size:contain;background-repeat: no-repeat;background-color: #cccccc;background-image:url('{$photos.0.src}');" >
                <!--[if gte mso]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:118px;height:118px;">
                    <v:fill type="frame" src="{$photos.0.src}" color="#cccccc" />
                </v:rect>
                <![endif]-->
            </td>
            <td rowspan="2" style="color:transparent;overflow:hidden;width:238px;height:238px;background-color: #cccccc;background-size: contain;background-repeat: no-repeat;background-image:url('{$photos.1.src}');" >
                <!--[if gte mso]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:240px;height:240px;">
                    <v:fill type="frame" src="{$photos.1.src}" color="#cccccc" />
                </v:rect>
                <![endif]-->
            </td>
            <td style="color:transparent;width:118px;height:118px;background-color: #cccccc;background-size:contain;background-repeat: no-repeat;background-image:url('{$photos.2.src}');" >
                <!--[if gte mso]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:118px;height:118px;">
                    <v:fill type="frame" src="{$photos.2.src}" color="#cccccc" />
                </v:rect>
                <![endif]-->
            </td>
            <td style="color:transparent;width:118px;height:118px;background-color: #cccccc;background-size:contain;background-repeat: no-repeat;background-image:url('{$photos.3.src}');" >
                <!--[if gte mso]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:118px;height:118px;">
                    <v:fill type="frame" src="{$photos.3.src}" color="#cccccc" />
                </v:rect>
                <![endif]-->
            </td>
        </tr>
        <tr>
            <td style="color:transparent;width:118px;height:118px;background-color: #cccccc;background-size:contain;background-repeat: no-repeat;background-image:url('{$photos.4.src}');" >
                <!--[if gte mso]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:118px;height:118px;">
                    <v:fill type="frame" src="{$photos.4.src}" color="#cccccc" />
                </v:rect>
                <![endif]-->
            </td>
            <td style="color:transparent;width:132px;height:114px;background-color: #cccccc;background-size:contain;background-repeat: no-repeat;background-image:url('{$photos.5.src}');" >
                <!--[if gte mso]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:118px;height:118px;">
                    <v:fill type="frame" src="{$photos.5.src}" color="#cccccc" />
                </v:rect>
                <![endif]-->
            </td>
            <td style="color:transparent;width:118px;height:118px;background-color: #cccccc;background-size:contain;background-repeat: no-repeat;background-image:url('{$photos.6.src}');" >
                <!--[if gte mso]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:118px;height:118px;">
                    <v:fill type="frame" src="{$photos.6.src}" color="#cccccc" />
                </v:rect>
                <![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
{/if}

<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td style="padding: 16px 16px 16px 16px">
            <div style="color:transparent;width:140px;height:140px;display:inline-block;outline:2px solid #ffffff;text-align:center;background-color: #cccccc;background-size:contain;background-repeat: no-repeat;background-image:url('{$user.avatar}');">
                <!--[if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:140px;height:140px;">
                    <v:fill type="frame" src="{$user.avatar}" color="#cccccc" />
                </v:rect>
                <![endif]-->
            </div>
        </td>
        <td valign="bottom" style="padding-bottom: 16px">
            <table>
                <tbody>
                <tr>
                    <td>
                        <span style="display: block;font-weight: bold;font-size: 18px;margin-bottom: 8px;">{$user.displayName}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="display: block;font-size: 13px;margin-bottom: 6px;">{text key='viewprofile+do_you_like_this_profile'}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{$links[1]}" target="_blank" style="background: url(https://www.biyebiye.com/ow_static/themes/trend/images/box_menu.gif) repeat-x center left; border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border: 1px solid #ccc;
      color: #626060;
      padding: 4px 10px;
      line-height: 21px;
      height: 22px;
      text-decoration: none;
      font-size: 12px;">{text key='viewprofile+label_status_yes'}</a>
                        <a href="{$links[2]}" target="_blank" style="background: url(https://www.biyebiye.com/ow_static/themes/trend/images/box_menu.gif) repeat-x center left; border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border: 1px solid #ccc;
      color: #626060;
      padding: 4px 10px;
      line-height: 21px;
      height: 22px;
      text-decoration: none;
      font-size: 12px;">{text key='viewprofile+label_status_no'}</a>
                        <a href="{$links[3]}" target="_blank" style="background: url(https://www.biyebiye.com/ow_static/themes/trend/images/box_menu.gif) repeat-x center left; border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border: 1px solid #ccc;
      color: #626060;
      padding: 4px 10px;
      line-height: 21px;
      height: 22px;
      text-decoration: none;
      font-size: 12px;">{text key='viewprofile+label_status_maybe'}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
