<div>
    {form name='sendingForm'}
    <table class="ow_table_2">

        <tr class="ow_tr_last">
            <td class="ow_label">{label name='sendEmail'}</td><td class="ow_value">{input name='sendEmail'}<br />{error name='sendEmail'}</td>
        </tr>

    </table>
    <div class="clearfix"><div class="ow_right">{submit name='save' class='ow_ic_add ow_positive'}</div></div>
    {/form}
</div>