<table border="0" cellpadding="0" cellspacing="0" style="margin-bottom:15px;width:600px;border-collapse:separate;border-spacing:5px;" {if empty($display)}style="display:none;"{/if}>
    <tr>
        <th colspan="2"  style="border-width:0;border-style:none;text-align:center;background-color:#f0f0f0;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;">
            {text key="base+questions_section_`$sectionName`_label"}
        </th>
    </tr>
    {foreach  from=$questions key='sort' item='question' name='question'}
        {if isset( $questionsData[$question.name] ) }
            <tr>
                <td style="width:50%;border-left-width:1px;border-left-style:solid;vertical-align:top;border-style:none;color:#666;text-align:right;padding-right:10px;">{if empty($labels[$question.name])}{text key="base+questions_question_`$question.name`_label"}{else}{$labels[$question.name]}{/if}</td>
                <td style="border-left-width:1px;border-left-style:solid;vertical-align:top;width:50%;padding-left:10px;"><span class="{if !empty($question.hidden)}ow_field_eye ow_remark profile_hidden_field{/if}">{$questionsData[$question.name]}</span></td>
            </tr>
        {/if}
    {/foreach}
</table>


