{if $ownerMode || ($adminMode && !$superAdminProfile)}
    {style}
        {literal}

            .ow_edit_profile_link
            {
                position: absolute;
                right: 0px;
                top: 0px;
            }
            .user_profile_data .ow_button {
                margin: 20px auto 0;
                display: inline-block;
            }
        {/literal}
    {/style}
    {script}
        {literal}
            (function(){
                $(".user_profile_data").hover(
                  function(){
                    $("#edit-profile").fadeIn();
                  },
                  function(){
                    $("#edit-profile").fadeOut();
                  }
              );
           }());
       {/literal}
    {/script}
{/if}

{style}
    {literal}
        .vp_center_button_wrap {
            text-align: center;
            margin-top: 15px;
        }
    {/literal}
{/style}

<div class="user_profile_data" style="position:relative">
     {if $ownerMode || ($adminMode && !$superAdminProfile) }
         <div style="display: none;" id="edit-profile" class="ow_edit_profile_link">
            <a class="ow_lbutton" href="{$profileEditUrl}">{text key='base+edit_profile_link'}</a>
         </div>
     {/if}

    {foreach  from=$sectionsHtml key='section' item='html'}
        {$html}
    {/foreach}

    {if $isViewProfile }
        <div class="vp_center_button_wrap">
            {if $isButton }
                {decorator name='button' class='ow_ic_up_arrow' id='btn-viewprofile' langLabel='viewprofile+btn_label_full_view_profile'}
            {else}
                <h3>{text key='viewprofile+label_no_question_value'}</h3>
            {/if}
        </div>
    {/if}

 </div>

{add_content key='socialsharing.get_sharing_buttons' title=$displayName image=$avatarUrl entityType='user' entityId=$userId }
