<div class="ow_event_list clearfix">
    <div class="ow_automargin ow_superwide">
        {if !empty($no_data) }
            <div class="ow_nocontent">{text key="viewprofile+no_sent_profiles_label"}</div>
        {else}
            {foreach from=$data key='key' item='item'}
                {decorator name='ipc' addClass='ow_smallmargin' data=$item infoString="<a href=\"`$item.whoseUrl`\">`$item.title`</a>"}
            {/foreach}
            <br />
            {$paging}
        {/if}
    </div>
</div>