{block_decorator name="box" type="empty" addClass="ow_stdmargin"}
    {form name='opinionForm'}
        {label name='opinion'}
        <div class="ow_smallmargin">{input name='opinion'}</div>
        {error name='opinion'}
        <div class="clearfix"><div class="ow_right"> {decorator name="button" type="submit" buttonName="save" class="ow_ic_add ow_positive" langLabel="base+confirm_button"}</div></div>
    {/form}
{/block_decorator}